body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #3b82f6, #6d28d9);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.balance {
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  color: black;
}

.form input,
.form select,
.form button {
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form button {
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.transactions {
  list-style: none;
  padding: 0;
}

.transactions li {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  min-height: 40px;
}

.income {
  border-left: 5px solid green;
}

.expense {
  border-left: 5px solid red;
}
